::selection {
  background: #0085a1;
  color: #fff;
  text-shadow: none;
}

body {
  background-color: #f5f5f5;
  position: relative;
}

a {
  color: #333;
}

a:focus,
a:hover {
  color: #0085a1;
}

a:focus,
a:hover {
    text-decoration: none;
}

blockquote {
  color: #818a91;
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}

/* ------------------------------------------------------------------------- */

.container {
  position: relative;
  left: 0px;
  top: 0px;
  max-width: 960px;
}

.header {
    font-size: 1.8rem;
}

.header,
.footer {
  padding: 1.5rem 0 .5rem;
}

.header {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.header img {
  margin-bottom: 1rem;
}

.header .title {
    font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.header ul,
.header li {
  margin-bottom: .5rem;
}

.header ul {
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: lowercase;
}

.content {
    background-color: #fff;
}

.footer {
  border-top: 1px solid rgba(0,0,0,.1);
}

.highlight pre {
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
}

.pagination .page-link {
  color: #333;
}

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content p {
  margin-bottom: 0;
}

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article .content a {
  color: #005591;
}

@media (min-width: 576px) {
  .header .title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .header,
  .footer {
    text-align: center;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }
}

.main, .source {
    position: relative;
}

.toggle-source {
    position: absolute;
    right: 1em;
    top: 0;
    padding: 0.2em;
}

.source .toggle-source {
    color: #839496;
}

.source pre {
    margin-bottom: 0;
}

body {
    font-family: "Franklin ITC", DejaVu Sans, sans-serif;
}

p {
    font-family: Georgia, Times, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Franklin ITC", DejaVu Sans, sans-serif;
}

code, kbd, pre, samp {
    font-family: "DejaVu Sans Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border-radius: 0;
}

.highlight.example {
    line-height: 1.2;
}

.affix {
    top: 0;
}

#toc {
    padding-top: 2em;
}

nav[data-toggle='toc'] .nav > li > a:hover,
nav[data-toggle='toc'] .nav > li > a:focus {
    color: #0085a1;
    border-left: 1px solid #0085a1;
}
nav[data-toggle='toc'] .nav > .active > a,
nav[data-toggle='toc'] .nav > .active:hover > a,
nav[data-toggle='toc'] .nav > .active:focus > a {
    color: #0085a1;
    border-left: 2px solid #0085a1;
}
