<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}| {{ SITENAME }}{% endblock %}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">

  {% if FEED_ALL_ATOM %}
  <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Full Atom Feed">
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="Full RSS Feed">
  {% endif %}
  {% if FEED_ATOM %}
  <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" title="Atom Feed">
  {% endif %}
  {% if FEED_RSS %}
  <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" title="RSS Feed">
  {% endif %}
  {% if not HIDE_CATEGORIES %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" title="Categories Atom Feed">
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" title="Categories RSS Feed">
    {% endif %}
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" title="Tags Atom Feed">
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" title="Tags RSS Feed">
  {% endif %}

  {% if RFG_FAVICONS %}
  <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ SITEURL }}/manifest.json">
  <link rel="mask-icon" href="{{ SITEURL }}/safari-pinned-tab.svg" color="#073642">
  <meta name="theme-color" content="#073642">
  {% endif %}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap-toc.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('default') }}.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/icomoon.css">

  {% if article or page %}
  <script>
   function toggle(id, className) {
     var element;

     if (id != null) {
       element = document.getElementById(id);
     } else {
       element = document.getElementsByClassName(className)[0];
     }

     if (element.style.display == "none") {
       element.style.display = "block";
     } else {
       element.style.display = "none";
     }
   }

   function toggle_source() {
     toggle(null, 'main');
     toggle('toc', null);
     toggle(null, 'source');
   }
  </script>
  {% endif %}

  {% block head %}{% endblock %}
  {% include 'include/analytics.html' %}

  {% if article %}
    {% if article.js %}
      {% for script in article.js %}
        {% if 'top' in script[-4:] %}
          {{ script[:-5]|format(SITEURL) }}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        {% if SITEIMAGE %}
        <div class="col-sm-4">
          <a href="{{ SITEURL }}/">
            <img class="img-fluid" src={{ SITEURL }}{{ SITEIMAGE }} alt="{{ SITENAME }}">
          </a>
        </div>
        {% endif %}
        <div class="col-sm-{% if SITEIMAGE %}8{% else %}12{% endif %}">
          <h1 class="title" data-toc-skip>{{ SITENAME }}</h1>
          {% if SITESUBTITLE %}
          <p class="text-muted">{{ SITESUBTITLE }}</p>
          {% endif %}
          {% if LINKS or (DISPLAY_PAGES_ON_MENU and pages) or ICONS %}
          <ul class="list-inline">
            {% for title, link in LINKS %}
            <li class="list-inline-item"><a href="{{ link }}" target="_blank">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
            <li class="list-inline-item"><a href="{{ SITEURL }}/">posts</a></li>
            <li class="list-inline-item text-muted">|</li>
            {% for page in pages %}
            <li class="list-inline-item"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% if not loop.last %}
            <li class="list-inline-item text-muted">|</li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% for icon, link, title in ICONS %}
            {% if (LINKS or (DISPLAY_PAGES_ON_MENU and pages)) and loop.first %}
            <li class=" list-inline-item text-muted">|</li>
            {% endif %}
            <li class="list-inline-item"><a class="icon-{{ icon }}" href="{{ link }}" title="{{ title }}" target="_blank"></a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="content">
    <div class="container">
     <div class="row">
      <div class="col-sm-11 main">
      {% if article or page %}
      <a class="toggle-source icon-code" href="#" title="view source code" onclick="toggle_source(); return false;"></a>
      {% endif %}

      <h1 data-toc-skip>{% block page_header %}{% endblock %}</h1>
      <hr>
      {% block content %}{% endblock %}
      </div>
      {% block source %}{% endblock %}
      {% if article or page %}
      <div class="col-sm-11 source" style="display:none;">
        <a class="toggle-source icon-file-text-o" href="#" title="view page" onclick="toggle_source(); return false;"></a>
        {{ (article or page).source }}
      </div>
      <div class="col-sm-1">
        <nav id="toc" data-toggle="toc" class="sticky-top">
        </nav>
      </div>
      {% endif %}
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
       <ul class="col-sm-6 list-inline">
          {% if not HIDE_AUTHORS %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/authors/">Authors</a></li>
          {% endif %}
          {% if not HIDE_ARCHIVES %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/archives/">Archives</a></li>
          {% endif %}
          {% if not HIDE_CATEGORIES %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/categories/">Categories</a></li>
          {% endif %}
          {% if not HIDE_TAGS and tags|length %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/tags/">Tags</a></li>
          {% endif %}
        </ul>
        <p class="col-sm-6 text-sm-right text-muted">
        </p>
      </div>
    </div>
  </footer>

  {% if article %}
    {% if article.js %}
      {% for script in article.js %}
        {% if 'bottom' in script[-7:] %}
          {{ script[:-8]|format(SITEURL) }}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  <script>
   function setupToc() {
     function onlyUnique(value, index, self) {
       return self.indexOf(value) === index;
     }

     function addClass(element, className) {
       var classes = element.className.split(' ').filter(onlyUnique);
       classes.push(className);
       classes = classes.filter(onlyUnique);
       element.className = classes.join(' ');
     }

     function removeClass(element, className) {
       var classes = element.className.split(' ').filter(function(value) { value != className });
       element.className = classes.join(' ');
     }

     var toc = document.getElementById('toc');
     sections = Array.from(document.querySelectorAll('h2[id],h3[id]'));
     var list = document.createElement('ul');
     list.className = 'nav';
     var lastH2 = null;
     sections.forEach(section => {
       const sectionId = section.id;
       var a = document.createElement('a');
       var li = document.createElement('li');
       li.setAttribute('id', 'nav-' + sectionId);
       a.setAttribute('href', '#' + sectionId);
       a.appendChild(document.createTextNode(section.textContent));
       li.appendChild(a);
       if (section.tagName == 'H2' || lastH2 == null) {
         lastH2 = li;
         list.appendChild(li);
       } else {
         var subList = lastH2.getElementsByTagName('UL')[0];
         if (subList == null) {
           subList = document.createElement('ul');
           subList.className = 'nav';
           lastH2.appendChild(subList);
         }
         subList.appendChild(li);
       }
     });
     toc.appendChild(list);

     const scrollHandler = entries =>
       entries.forEach(entry => {
         const section = entry.target;
         const sectionId = section.id;
         const sectionLink = document.querySelector('a[href="#' + sectionId + '"]');

         if (entry.intersectionRatio > 0) {
           addClass(sectionLink.parentElement, 'active');
         } else {
           removeClass(sectionLink.parentElement, 'active');
         }
       });

     // Creates a new scroll observer
     const observer = new IntersectionObserver(scrollHandler);

     //noinspection JSCheckFunctionSignatures
     sections.forEach(section => observer.observe(section));
   }

   window.addEventListener('load', setupToc);
  </script>

</body>

</html>
