{% extends "base.html" %}

{% block head %}
  <script>
   function toggle(name) {
     var element = document.getElementsByClassName(name)[0];
     if (element.style.display == "none") {
       element.style.display = "block";
     } else {
       element.style.display = "none";
     }
   }

   function toggle_source() {
     toggle('main');
     toggle('source');
   }
  </script>
{% endblock %}

{% block main_toggle %}
  <a class="toggle-source fa fa-code" href="#" title="view source code" onclick="toggle_source(); return false;"></a>
{% endblock %}

{% block source %}
  <div class="source" style="display:none;">
    <div class="container">
      <a class="toggle-source fa fa-file-text-o" href="#" title="view page" onclick="toggle_source(); return false;"></a>
      {% block source_content %}{% endblock %}
    </div>
  </div>
{% endblock %}
