<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}| {{ SITENAME }}{% endblock %}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css">

  {% if FEED_ALL_ATOM %}
  <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Full Atom Feed">
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="Full RSS Feed">
  {% endif %}
  {% if FEED_ATOM %}
  <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" title="Atom Feed">
  {% endif %}
  {% if FEED_RSS %}
  <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" title="RSS Feed">
  {% endif %}
  {% if not HIDE_CATEGORIES %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" title="Categories Atom Feed">
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" title="Categories RSS Feed">
    {% endif %}
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" title="Tags Atom Feed">
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" title="Tags RSS Feed">
  {% endif %}

  {% if RFG_FAVICONS %}
  <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ SITEURL }}/manifest.json">
  <link rel="mask-icon" href="{{ SITEURL }}/safari-pinned-tab.svg" color="#073642">
  <meta name="theme-color" content="#073642">
  {% endif %}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/tether.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap-toc.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('default') }}.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">

  <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/tether.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/bootstrap-toc.min.js"></script>

  <script>
$(function() {
  Toc.init({
    $nav: $("#toc")
  });
  $("body").scrollspy({
     target: "#toc"
  });

  $('#toc').affix({
      offset: {
          top: $('#toc').offset().top
      }
  });
});
  </script>

  {% if article or page %}
  <script>
   function toggle(name) {
     var element = $(name);
     if (element.css("display") == "none") {
       element.css("display", "block");
     } else {
       element.css("display", "none");
     }
   }

   function toggle_source() {
     toggle('.main');
     toggle('#toc');
     toggle('.source');
   }
  </script>
  {% endif %}

  {% block head %}{% endblock %}
  {% include 'include/analytics.html' %}
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        {% if SITEIMAGE %}
        <div class="col-sm-4">
          <a href="{{ SITEURL }}/">
            <img class="img-fluid" src={{ SITEURL }}{{ SITEIMAGE }} alt="{{ SITENAME }}">
          </a>
        </div>
        {% endif %}
        <div class="col-sm-{% if SITEIMAGE %}8{% else %}12{% endif %}">
          <h1 class="title" data-toc-skip>{{ SITENAME }}</h1>
          {% if SITESUBTITLE %}
          <p class="text-muted">{{ SITESUBTITLE }}</p>
          {% endif %}
          {% if LINKS or (DISPLAY_PAGES_ON_MENU and pages) or ICONS %}
          <ul class="list-inline">
            {% for title, link in LINKS %}
            <li class="list-inline-item"><a href="{{ link }}" target="_blank">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
            <li class="list-inline-item"><a href="{{ SITEURL }}/">posts</a></li>
            <li class="list-inline-item text-muted">|</li>
            {% for page in pages %}
            <li class="list-inline-item"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% if not loop.last %}
            <li class="list-inline-item text-muted">|</li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% for icon, link, title in ICONS %}
            {% if (LINKS or (DISPLAY_PAGES_ON_MENU and pages)) and loop.first %}
            <li class=" list-inline-item text-muted">|</li>
            {% endif %}
            <li class="list-inline-item"><a class="fa fa-{{ icon }}" href="{{ link }}" title="{{ title }}" target="_blank"></a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="content">
    <div class="container">
     <div class="row">
      <div class="col-sm-11 main">
      {% if article or page %}
      <a class="toggle-source fa fa-code" href="#" title="view source code" onclick="toggle_source(); return false;"></a>
      {% endif %}

      <h1 data-toc-skip>{% block page_header %}{% endblock %}</h1>
      <hr>
      {% block content %}{% endblock %}
      </div>
      {% block source %}{% endblock %}
      {% if article or page %}
      <div class="col-sm-11 source" style="display:none;">
        <a class="toggle-source fa fa-file-text-o" href="#" title="view page" onclick="toggle_source(); return false;"></a>
        {{ (article or page).source }}
      </div>
      <div class="col-sm-1">
        <nav id="toc"></nav>
      </div>
      {% endif %}
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
       <ul class="col-sm-6 list-inline">
          {% if not HIDE_AUTHORS %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/authors/">Authors</a></li>
          {% endif %}
          {% if not HIDE_ARCHIVES %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/archives/">Archives</a></li>
          {% endif %}
          {% if not HIDE_CATEGORIES %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/categories/">Categories</a></li>
          {% endif %}
          {% if not HIDE_TAGS and tags|length %}
          <li class="list-inline-item"><a href="{{ SITEURL }}/tags/">Tags</a></li>
          {% endif %}
        </ul>
        <p class="col-sm-6 text-sm-right text-muted">
        </p>
      </div>
    </div>
  </footer>
</body>

</html>
